* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  min-width: 400px;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  --button-width: calc((100% - 10px) / 4);
}

.output {
  height: 120px;
  background-color: gray;
  border: 1px solid black;
}

.buttons {
  display: flex;
  flex-wrap: wrap;

}

.button {
  padding: 20px;
  width: var(--button-width);
  height: var(--button-height);
  font-size: 36px;
}