* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --calculator-width: 500px;
  --calculator-padding: 10px;
  --buttons-gap: 2px;
  --button-available-width: calc((var(--calculator-width) - 2 * var(--calculator-padding)) / 4);
  --button-width: calc(var(--button-available-width) - 3 * var(--buttons-gap));
  --calculator-color: gray;
  --auxiliary-button-color: rgb(71, 122, 250);
  --number-part-button-color: green;
  --operator-button-color: rgb(255, 149, 0);
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: var(--calculator-width);
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: var(--calculator-padding);
  background-color: var(--calculator-color);
}

.output {
  height: 120px;
  background-color: rgb(161, 159, 159);
  border: 1px solid black;
  padding: 20px;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--buttons-gap);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: var(--button-width);
  font-size: 36px;
  flex-grow: 1;
}

.button.double {
  width: calc(var(--button-width) * 2 + var(--buttons-gap));
  flex-grow: 2;
}

.auxiliary {
  background-color: var(--auxiliary-button-color);
}

.number-part {
  background-color: var(--number-part-button-color);
}

.operator {
  background-color: var(--operator-button-color);
}